/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* Navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 15px 0;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.3s ease;
  background: transparent;
  box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}

.navbar.sticky {
  padding: 15px 0;
  background: #fff;
  box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  margin: 0;
  padding: 0;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #1b1b1b;
  font-size: 16px;
  font-weight: 500px;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: #3ab0ff;
}

/* Menu btn styling */

.menu-btn {
  color: #1b1b1b;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #3ab0ff;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

/* home section styling */
.home {
  display: flex;
  background-size: cover;
  height: 50vh;
  color: #1b1b1b;
  min-height: 500px;
  background: #f8fafb;
  font-family: 'Open Sans', sans-serif;
}

.home .home-content .judul-1 {
  text-align: center;
  font-size: 55px;
  color: #1b1b1b;
  font-weight: 700;
  margin-bottom: 20px;
}
.home .home-content .text {
  font-size: 16px;
  color: #1b1b1b;
  text-align: center;
}

.home .home-content a {
  display: inline-block;
  background: #3ab0ff;
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #3ab0ff;
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  color: #3ab0ff;
  background: none;
}

/* about styling */

/* Card styling */
.services {
  color: #1b1b1b;
  background: #fff;
}

.services .serv-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.services .serv-content .card {
  width: calc(44% - 20px);
  background: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  border: 2px solid #e6e6e6;
  transition: all 0.3s ease;
}
.services .serv-content .card .text {
  font-size: 20px;
  font-weight: 700;
  text-align: justify;
  margin-top: -20px;
  margin-bottom: 10px;
}

.services .serv-content .card p {
  font-size: 16px;
  text-align: justify;
  color: #1b1b1b;
  margin-bottom: 30px;
}

.services .serv-content .card ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

.services .serv-content .card ul li {
  margin-bottom: 8px;
  text-align: justify;
}

.services .serv-content a {
  display: inline-block;
  background: #3ab0ff;
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #3ab0ff;
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  color: #3ab0ff;
  background: none;
}

/* ling styling */
section {
  padding: 80px 0;
}

.about,
.services,
.ling {
  font-family: 'Open Sans', sans-serif;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

.about .text {
  text-align: center;
}
.ling .ling-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.ling .ling {
  position: relative;
  text-align: center;
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

.ling .ling-content .left {
  width: 55%;
}

.ling .ling-content .left img {
  width: 480px;
  object-fit: cover;
  border-radius: 6px;
}

.ling .ling-content .right {
  width: 45%;
}

.ling .ling-content .right .text {
  font-size: 30px;
  font-weight: 600;
  color: #1b1b1b;
  margin-bottom: 15px;
}

.ling .ling-content .right .text-top {
  font-size: 16px;
  color: #3ab0ff;
  margin-bottom: 15px;
}

.ling .ling-content .right .text span {
  color: #3ab0ff;
}

.ling .ling-content .right p {
  font-size: 14;
  color: #1b1b1b;
  text-align: justify;
}

.ling .ling-content .right a {
  display: inline-block;
  background: #3ab0ff;
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  font-weight: 500;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #3ab0ff;
  transition: all 0.3s ease;
}

.ling .ling-content .right a:hover {
  color: #3ab0ff;
  background: none;
}

/* Key */
.teams {
  font-family: 'Open Sans', sans-serif;
  background: #f8fafb;
}
.teams .carousel .card {
  background: #fff;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
}
.teams .carousel .card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  transition: all 0.3s ease;
}
.teams .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.teams .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.teams .carousel .card:hover {
  box-shadow: rgba(55, 66, 59, 0) 0px 5px 15px;
}
.teams .carousel .card:hover .box {
  transform: scale(1.05);
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #3ab0ff !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: #3ab0ff !important;
}
/* Footer */
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col ul {
  list-style: none;
}
.footer {
  font-family: 'Open Sans', sans-serif;
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #3ab0ff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/* Conatct */
.contact {
  font-family: 'Open Sans', sans-serif;
}

.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact .contact-content .column {
  width: calc(50%-30px);
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: #3ab0ff;
}
.contact .contact-content .info .head {
  font-weight: 500;
}
.contact .contact-content .info .sub-title {
  color: #333;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .email {
  margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea,
.contact .right form .field select {
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button {
  display: inline;
  height: 47px;
  width: 170px;
}
.contact .right form .button input {
  padding: 8px 14px;
  border: 2px solid #3ab0ff;
  background: #3ab0ff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact .right form .button input:hover {
  color: #3ab0ff;
  background: none;
}
/* Responsive media querry start */
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}
@media (max-width: 1104px) {
  .ling .ling-content .left img {
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: '\f00d';
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #fff;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .home .home-content .judul-1 {
    font-size: 45px;
  }

  .home .home-content .judul-2 {
    font-size: 45px;
  }

  .home .home-content .isi p {
    font-size: 14px;
  }
  .home .home-content a {
    font-size: 14px;
  }
  .max-width {
    max-width: 800px;
  }
  .ling .ling-content .column {
    width: 50%;
  }
  .ling .ling-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .ling .ling-content .right {
    flex: 100%;
  }
  .services .serv-content .card {
    width: calc(50% -10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column {
    width: 50%;
  }
  .skills .skills-content .right {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .skills .skills-content .left {
    flex: 100%;
  }
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .judul-1 {
    font-size: 35px;
  }

  .home .home-content .judul-2 {
    font-size: 35px;
  }

  .home .home-content .isi p {
    font-size: 12px;
  }
  .services .serv-content .card {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
